@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*mozilla*/

* {
  scrollbar-color: #5b73ac #003099; /* color del pulgar, color de la pista */
  scrollbar-width: thin; /* grosor de la barra de desplazamiento: auto, thin, none */
}

/*Chrome body*/

body::-webkit-scrollbar {
  background-color: #062872;
}

body::-webkit-scrollbar-thumb {
  background-color: #4f6bac;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #687ca9;
}

:root {
  --primary: #040D23;
  --secondary: #031741;
  --tertiary: #3278FF;
  --text: #ececec;
  --secondaryText: #cecece;
  --darkBlue: #00152b;
  --blue: #001947;
  --lightBlue: #0039aa;
  --lighterBlue: #276fff;
}

body {
  background-color:#061333;
}

::selection {
  /* Cambia este valor al color que desees */
  color: #ffa500;
  /* Cambia este valor al color del texto deseado */
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

/*mozilla*/

* {
  scrollbar-color: #7c7c7c #17202c;
}

/*Chrome body*/

body::-webkit-scrollbar {
  background-color: #062872;
}

body::-webkit-scrollbar-thumb {
  background-color: #4f6bac;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #687ca9;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
